@keyframes transitionIn{
	from{
		opacity: 0;
		top: 50%;
		transform: rotateX(-10deg);
	}

	to{
		opacity: 1;
		top: 45%;
		transform: rotateX(0);
	}
}

@keyframes slidein {
	from{
		width: 0px;
	}
	to{
		width: 700px;
	}
}


.Foto_Alul img{
	animation-duration: 3s;
	animation-name: slidein; 
}

.Home{
	animation-duration: 3s;
	animation-name: transitionIn; 
}